$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?2acc54cd40300a151797d816a8a7a4e4") format("truetype"),
url("./flaticon.woff?2acc54cd40300a151797d816a8a7a4e4") format("woff"),
url("./flaticon.woff2?2acc54cd40300a151797d816a8a7a4e4") format("woff2"),
url("./flaticon.eot?2acc54cd40300a151797d816a8a7a4e4#iefix") format("embedded-opentype"),
url("./flaticon.svg?2acc54cd40300a151797d816a8a7a4e4#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "play": "\f101",
);

.flaticon-play:before {
    content: map-get($flaticon-map, "play");
}
